<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
   <style>
     body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        h1 {
            text-align: center;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #217dbb;
        }
   </style>
</head>
<body>
    <h1>Hello, you are going to update <%= user.email %></h1>
    <div class="form-container">
        <form method="post" action="/user/<%= user.id %>?_method=PATCH">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="<%= user.username %>">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
            <button>Save</button>
        </form>
    </div>
</body>
</html>
