<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First EJS Website</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis omnis hic dolore corporis! Quae inventore adipisci reprehenderit nam, natus similique ducimus et? Fugit earum neque libero rerum est aut quasi?</p>
    <button>click me</button>
</body>
</html>